<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <span class="top-banner">
        <div class="social-list">
            <a href="https://www.instagram.com/thecarmelcornshop/">
                <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
            </a>
            <a href="https://www.facebook.com/TheCarmelcornShopEaston/">
                <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
            </a>
            <a href="https://www.yelp.com/biz/the-carmelcorn-shop-easton">
                <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
            </a>

            <a class="link" href="https://www.yelp.com/biz/the-carmelcorn-shop-easton">
                <fa-icon [icon]="['fas', 'car']"></fa-icon>
               <span >Vehicle Registration and Motor</span>
            </a>

            <a href="https://www.yelp.com/biz/the-carmelcorn-shop-easton">
                <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
                <span> Client Center</span>
            </a>

            <a href="https://www.yelp.com/biz/the-carmelcorn-shop-easton">
                <fa-icon [icon]="['fas', 'mail-bulk']"></fa-icon>
                <span>andress.khawand@gmail.comv</span>
            </a>

            <a href="https://www.yelp.com/biz/the-carmelcorn-shop-easton">
                <fa-icon [icon]="['fas', 'phone']"></fa-icon>
                <span>Call 610-570-6535</span>
                </a>

        </div>
    </span>
    <mat-toolbar color="secondary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">Andy's App</h1>
        <div class="search-btn">
            <button style="margin: 5px;" mat-button (click)="search()">Option 1</button>
            <button style="margin: 5px;" mat-button (click)="search()">Option 2</button>
            <button style="margin: 5px;" mat-button (click)="search()">Option 3</button>
            <button style="margin: 5px;" mat-button (click)="search()">Option 4</button>
            <button mat-icon-button (click)="search()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <a (click)="navigate('home')" mat-list-item routerLink=".">
                    <mat-icon>home</mat-icon>
                    Home
                </a>

                <a (click)="navigate('about-us')" mat-list-item routerLink=".">
                    <mat-icon>info</mat-icon>
                    About Us
                </a>

                <a (click)="navigate('contact')" mat-list-item routerLink=".">
                    <mat-icon>phone</mat-icon>
                    Contact
                </a>

                <a (click)="navigate('quote')" mat-list-item routerLink=".">
                    <mat-icon>monetization_on</mat-icon>
                    Get a Quote
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>